In [15]:
import pandas as pd, numpy as np
import geopandas as gpd, topojson as tp
import matplotlib.pyplot as plt, seaborn as sns

sa1_distributions = pd.read_csv(
    "./data/sa1_distributions.csv",
    index_col="sa1"
)

sa1_data = pd.read_excel(
    "./data/SA1_2021_AUST.xlsx",
    usecols=[0, 1, 10, 11, 15],
    header=0,
    names=["sa1", "changed", "city", "state", "area"]
)
sa1_data = sa1_data[sa1_data["changed"] == 0]
sa1_data

,sa1,changed,city,state,area
0,10102100701,0,Rest of NSW,1,362.8727
1,10102100702,0,Rest of NSW,1,229.7459
2,10102100703,0,Rest of NSW,1,2.3910
3,10102100704,0,Rest of NSW,1,1.2816
4,10102100705,0,Rest of NSW,1,1.1978
...,...,...,...,...,...
61840,90104100407,0,Other Territories,9,10.5956
61841,90104100408,0,Other Territories,9,2.3801
61842,99797979993,0,Migratory - Offshore - Shipping (OT),9,NaN
61843,99999949999,0,No usual address (OT),9,NaN
61844,ZZZZZZZZZZZ,0,Outside Australia,Z,NaN

In [14]:
sa1_distributions.index

Int64Index([4100101, 4100102, 4100103, 4100104, 4100105, 4100106, 4100107,
            4100108, 4100111, 4100113,
            ...
            3145125, 3145126, 3145128, 3145129, 3145130, 3145131, 3145132,
            3145133, 3145134, 3145135],
           dtype='int64', name='sa1', length=56302)